<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FishingWorld - Modifica Pesce</title>
    <link rel="stylesheet" href="/stileFish.css?version=2" />
</head>
<body>
    <header>
        <h1><a href="/">FishingWorld</a></h1>
    </header>

    <div class="container fish-detail-container">
        <div th:if="${fish}">
            <form th:action="@{'/fish/' + ${fish.id} + '/edit'}" method="POST" th:object="${fish}">
                <div class="fish-details">
					<div>
                        <label for="name">Nome:</label>
                        <input type="text" id="name" th:field="*{name}" />
                    </div>
					
                    <div>
                        <label for="scientificName">Nome Scientifico:</label>
                        <input type="text" id="scientificName" th:field="*{scientificName}" />
                    </div>
					
                    <div>
                        <label for="season">Stagione:</label>
                        <input type="text" id="season" th:field="*{season}" />
                    </div>
					
                    <div>
                        <label for="description">Descrizione:</label>
                        <textarea id="description" th:field="*{description}"></textarea>
                    </div>
					
                    <div>
                        <label for="urlImage">URL Immagine:</label>
                        <input type="text" id="urlImage" th:field="*{urlImage}" />
                    </div>
					<br>
                    <div class="form-actions">
                        <button type="submit" class="button save-button">Salva Modifiche</button>
                        <a th:href="@{'/fish/' + ${fish.id}}" class="button cancel-button">Annulla</a>
                    </div>
					
                </div>
            </form>
        </div>
        <div th:unless="${fish}" class="no-fish">
            <p>Nessun pesce trovato.</p>
        </div>
    </div>
</body>
</html>