<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FishingWorld - Dettagli Pesce</title>
    <link rel="stylesheet" href="/stileFish.css?version=2" />
</head>
<body>
    <header>
        <h1><a href="/">FishingWorld</a></h1>
    </header>

    <div class="container fish-detail-container">
        <div th:if="${rod}">
            <div class="fish-image-container">
                <img th:src="${rod.urlImage}" width="960px" height="650px" alt="${rod.name}" class="fish-detail-image"/>
            </div>
            <div id="fish-details-container">
                <h1 class="fish-detail-name" th:text="${rod.name}" style="font-size: 55px;">NomeCannaDaPesca</h1>
                <div class="fish-detail-info">
                    <h3><span class="label">Tipo:</h3></span>
                    <span th:text="${rod.type}">Tipo</span>
                </div>
                <div class="fish-detail-info">
                    <h3><span class="label">Lunghezza:</h3></span>
                    <span th:text="${rod.length}">Lunghezza</span>
                </div>
				<div class="fish-detail-info">
					<h3><span class="label">Modello:</h3></span>
					<span th:text="${rod.model}">Modello</span>
				</div>
                <div class="fish-detail-description">
                    <h3 class="label">Descrizione:</h3>
                    <p th:text="${rod.description}">Descrizione del pesce...</p>
                </div>
				
				<br>
                <a th:href="@{'/formEditRod/' + ${rod.id}}" class="cancel-button">Modifica dettagli</a>
            </div>
        </div>
        <div th:unless="${rod}" class="no-fish">
            <p>Nessuna canna da pesca trovata.</p>
        </div>
		
		<br>
		<h2 style="margin-top: 40px;">Luoghi di pesca assocciata:</h2>
					                    <ul th:if="${!rod.fishingPlace.isEmpty()}" style="list-style-type: disclosure-closed; padding-left: 16px;">
					                        <li th:each="place : ${rod.fishingPlace}">
												<a th:href="@{'/place/' + ${place.id}}" style= "color: teal;">
												    <span th:text="${place.name}" class="link-obj">Nome Pesce</span>
												</a>
					                        </li>
					                    </ul>
					                    <p th:if="${rod.fishingPlace.isEmpty()}" style="height: 60px; line-height: 50px;">Nessun luogo di pesca associato.</p>

		
		<br>
        <div>
            <a href="/rods" class="button" id="aggiungi-elemento-btn">Torna alla lista</a>
        </div>
    </div>
</body>
</html>