<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Register</h1>
    <div th:if="${errorMessage}" style="color: red;">
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <h3>Dati Personali</h3>
        <div>
            <label for="name">Nome:</label>
            <input type="text" id="name" th:field="*{name}" required>
        </div>
        <div>
            <label for="surname">Cognome:</label>
            <input type="text" id="surname" th:field="*{surname}" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required>
        </div>
        <div>
            <label for="telephoneNumber">Numero di Telefono:</label>
            <input type="number" id="telephoneNumber" th:field="*{telephoneNumber}">
        </div>

        <h3>Dati di Accesso</h3>
        <div th:object="${credentials}">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" th:field="*{username}" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" required>
            </div>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
    <p>Hai già un account? <a th:href="@{/login}">Accedi qui</a></p>
</body>
</html>